Package: com.ziph0n.lowbattery
Name: BatteryFlow
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Let's entirely customize your 'Low Power' alerts
Maintainer: Ziph0n
Author: Ziph0n
Section: Tweaks
Version: 1.0-1
Installed-Size: 264
